body {
  font-family: "Arial", sans-serif;
}

.contact-box p {
  font-size: 1.1rem;
  margin: 0;
}

.contact-box i {
  display: block;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: #444;
}

.btn-warning {
  color: #000;
  font-weight: bold;
}
